DATABASE_URL=postgresql://postgres:postgres@localhost:5432/craftandboard
REDIS_URL=redis://localhost:6379
PORT_API=4000
PORT_WEB=3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
AMAZON_SP_API_KEY=
SHIPSTATION_API_KEY=
